@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: "border-box";
  margin: 0;
  padding: 0;
}

.inputClass {
  padding: 8px 6px;
  background-color: #f1f1f1f1;
  border-radius: 4px;
  margin-top: 8px;
}

.errorMessage {
  font-size: 14px;
  font-weight: 400;
  color: red;
  margin-bottom: 12px;
}
